*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    margin-top: 0px;
    z-index: 1;
    padding: 40px;
    background-color: rgba(224, 224, 224, 0.4);
    margin-bottom: 15px;
}


.container_menu{
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 80px;
}

.menu{
    display: flex;
    
}

.menu ul{
    display: flex;
    
}

.menu ul li{
    list-style: none;
    margin-left: 20px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #413f3f;;
    display: block;
  
}

.menu  ul li a:hover{
    color: rgb(0, 0, 0);
}

.menu nav img{
    display: none;
}



#nav-btn{
    margin-right: -150px;
    margin-left: 50px;
    display: none;
    margin-top: -10px;
}

.menu #btn_menu{
    display: none;
}

.menu .btn-1{
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #000;
    padding-top: -10px;
    margin-top: -10px;
    
}

.menu .btn-2{
    color: whitesmoke;
    background: rgb(8, 8, 8);
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #fcf8f8;
    margin-top: -10px;
   
}


.btn-1:hover{
    background: linear-gradient(90deg, #979697, 0%, #e9e9e9 100%);
}

.btn-2:hover{
    background: linear-gradient(90deg, #2b2b2b, 0%, #4e4e4e 100%);
}

.experiencia {
    background-color:#12571d ;
    color: #e9e7e7;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
    display: flex;   
    margin-bottom: 15px;    
}

.experiencia h1{
    padding-top: 28px;
    font-size: 70px;
    font-weight: bold;
}

.experiencia h3{
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 15px;
}

.experiencia h3 a{
    color: #e9e7e7;
}

.experiencia h3 a:hover{
    color: #bb9b9b;
}

#alebrije{
    background-color:#700606 ;
    background-size: cover;
    background-position: left;
    color: #e9e7e7;
    display: flex;
    background-size: cover;
    background-position: center center;
    margin-bottom: 15px;

}

#alebrije .container{
    display: flex;
    justify-content: space-evenly;
    
}

#alebrije .texto{
    width: 70%;
    max-width: 600px;
    text-align: center;
    align-items: center;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alebrije .texto h1{
    font-size: 70px;
    font-weight: bold;
}

#alebrije .texto h3{
    font-size: 25px;
    font-weight: lighter;
}

#alebrije .img-1{
    background-image: url("https://d36tnp772eyphs.cloudfront.net/blogs/2/2019/02/alebrijes-en-oaxaca-940x626.jpg");
    background-size: cover;
    justify-content: left;
    align-items: center;
    height: 450px;
    width: 800px; 
    margin-left: -100px;
}

.btn-3{
    background: #700606;
    padding: 7px 25px;    
    margin-bottom: 20px;
    color: #fdfdfd;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    font-size: 15px;
    text-decoration: none;
}

.btn-3:hover{
    background: linear-gradient(90deg, #b31818, 25%, #630202 80%);
}

#creatividad{
    background-color:#700606 ;
    background-size: cover;
    background-position: left;
    color: #e9e7e7;
    display: flex;
    background-size: cover;
    background-position: center center;
    margin-bottom: 15px;
}

#creatividad .container-2{
    display: flex;
    justify-content: space-evenly;
}

#creatividad .texto-2{
    width: 70%;
    max-width: 600px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -1300px;
    }

#creatividad .texto-2 h1{
    font-size: 70px;
    font-weight: bold;
}

#creatividad .texto-2 h3{
    font-size: 20px;
    font-weight: lighter;
    align-items: center;
    
}

.btn-4{
    background: #700606;
    padding: 7px 25px;    
    margin-bottom: 20px;
    color: #fdfdfd;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    font-size: 15px;
    text-decoration: none;
}

.btn-4:hover{
    background: linear-gradient(90deg, #b31818, 25%, #630202 80%);
}


#creatividad .img-2{
    background-image: url("https://jacoboymariaangeles.com/wp-content/uploads/2022/10/NOMADAS-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 650px; 
    margin-left: 635px;
}

#footer-cont{
    padding-top: 30px;
    display: inline-block;
}


.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    height: 70px;
    width: 70px;
    border: 1px solid #dd2418;
    border-radius: 25%;
}


#footer-cont .social-sp{
    width: 55px;
    height: 55px;
    justify-content: space-between;
    display: inline;
    margin-top: 7px;
    margin-left: 7px;
}

.social:hover{
    background: linear-gradient(90deg, #272626, 25%, #141414 80%);
}


#footer-cont .social-fb{
    width: 57px;
    height: 57px;
    margin-top: 5px;
    margin-left: 5px;
    justify-content: space-between;
    display:flow-root;
}

#footer-cont .social-pi{
    width: 57px;
    height: 57px;
    margin-top: 5px;
    margin-left: 5px;
    justify-content: space-between;
    display:flow-root;
}

#footer-cont .social-ig{
    width: 57px;
    height: 57px;
    margin-top: 5px;
    margin-left: 5px;
    justify-content: space-between;
    display:flow-root;
}

#footer-cont .social-yt{
    width: 57px;
    height: 57px;
    margin-top: 5px;
    margin-left: 5px;
    justify-content: space-between;
    display:flow-root;
}

#footer-cont .social-tw{
    width: 57px;
    height: 57px;
    margin-top: 5px;
    margin-left: 5px;
    justify-content: space-between;
    display:flow-root;
}

.footer-derechos{
    margin-left: -520px;
    margin-top: 80px;
    display: flex;
}





@media (max-width: 991px){

    *{width: 100vh;

    }
    
    header{
        width: 100vh;
    }



    .container_menu{
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .logo img{
        width: 80px;
    }
    
    .menu{
        display: flex;
        align-items: center;
    }
    
    .menu ul{
        display: flex;
        float: left;
        
    }
    
    .menu ul li{
        list-style: none;
        margin-left: 20px;
        
    }
    
    .menu ul li a{
        text-decoration: none;
        font-size: 18px;
        color: #413f3f;;
        display: block;
        text-align: left;
        
    }
    
    .menu  ul li a:hover{
        color: rgb(0, 0, 0);
    }
    
    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }
    
    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }
    
    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }
    
    .menu ul li a{
        color: #bebebe;
    }
    
    .menu .btn-1{
        background: whitesmoke;
        padding: 5px 15px;
        border-radius: 25px;
        border: 1px solid #000;
    }
    
    .menu .btn-2{
        color: whitesmoke;
        background: rgb(8, 8, 8);
        padding: 5px 15px;
        border-radius: 25px;
        border: 1px solid #fcf8f8;
       
    }
    
    .btn-1:hover{
        background: linear-gradient(90deg, #979697, 0%, #e9e9e9 100%);
    }
    
    .btn-2:hover{
        background: linear-gradient(90deg, #2b2b2b, 0%, #4e4e4e 100%);
    }
    
    .menu nav img{
        display: block;
        width: 60px;
    }
    
    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0, 0.5);
    }
    
    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(78, 76, 76, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }
    
    .menu #btn_menu:hover{
        background: rgba(56, 55, 55, 0.2);
    }

    .experiencia .intro{
        background-color: #12571d;
        background-size: 150%;
        padding-bottom: 15px;
        display: block;
        width: 100vh;

    }

    #alebrije .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vh;

    }

    #alebrije .img-1{
        width: 88vh;
        justify-content: center;
        align-items: center;
        margin-right: -30px
    }

    #alebrije .texto{
        width: 70%;
        text-align: center;
        align-items: center;
        margin-left: -80px;
    }


    #creatividad .container-2{
        flex-direction: column;
        width: 100vh;

    }

    #creatividad .img-2{
        width: 88vh;
        justify-content: center;
        align-items: center;
        margin-left: -68px;
    }

    #creatividad .texto-2{
        margin-left: 56px;
    }

    .experiencia{
        width: 78vh;
    }

    .social{
        margin: 0 10px;
        height: 45px;
        width: 45px;
    }

    #footer-cont .social-sp{
        width: 35px;
        height: 35px;
        margin-left: 4.5px;
        margin-top: 3.5px;
    }

    #footer-cont .social-fb{
        width: 35px;
        height: 35px;
      
    }
    
    #footer-cont .social-pi{
        width: 35px;
        height: 35px;
   
    }
    
    #footer-cont .social-ig{
        width: 35px;
        height: 35px;
   
    }
    
    #footer-cont .social-yt{
        width: 35px;
        height: 35px;
        
    }
    
    #footer-cont .social-tw{
        width: 35px;
        height: 35px;
    }

    .footer-derechos{
        margin-left: -380px;
        margin-top: 50px;
        display: flex;
    }

}
